* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* ***************************************************** */

/* header */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    background-color: antiquewhite;
}

.title {
    margin: 0;
    padding: 0;
}

.fa-bolt {
    margin-right: 5px;
}

.tagline {
    font-size: 18px;
}

/* ***************************************************** */

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0 20px 0;
}

.footer-text {
    font-family: cursive;
    color: gray;
}

.profile {
    text-decoration: none;
    color: gray;
    transition: color .3s ease-in-out;
}

.profile:hover {
    color: rgb(59, 59, 59);
}

/* ***************************************************** */

/* poll page */

.poll-page {
    background: rgb(255, 241, 186);
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}